DATABASE_URL="postgresql://usuario:password@host:5432/creditos_uptc"
JWT_SECRET="uptc_creditos_secret_2026"
JWT_EXPIRES_IN="30m"
PORT=3000
NODE_ENV=production
SIRA_ENABLED=true
FRONTEND_URL="https://tu-app.vercel.app"